data/*
data_backup/*
output/*
__pycache__
job.log
logs/*.log
.cache/*
model_finetuned/*
model_finetuning/t5/models/*
model_finetuning/mdberta/models/*
multisocial_human.csv
lightning_logs/*
model_finetuning/lightning_logs/*