data/*
data_backup/*
output/*
__pycache__
job.log
logs/*.log
.cache/*
model_finetuned/*
aya_finetuning/models/*
aya_finetuning/models_backup/*
aya_finetuning/best_binary_classification_model/*
aya_finetuning/models_working_demo/*
multisocial_human.csv
lightning_logs/*